<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employe Record</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Email</th>
            <th>Employee Contact</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ employee.ename }}</td>
            <td>{{ employee.eid }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.contact }}</td>
            <td>
                <a href="/edit/{{ employee.id }}">Edit</a>
                <a href="/delete/{{ employee.id }}">Delete</a>
            </td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>
    <button> <a href="/emp">Add New Record</a></button>
    
</body>
</html>